:root{

    --primary_color : #485962;
    --secondary_color : #6d96aa;
    --text_color : #c8b959;
    --text_color_hover: #eff0cf;
    --border_color : #c8b959;
    --input_color : #244049;
    --wood_style_color : #1d1913;

}