
body{
    /*setup the background*/
    background-image: url("../../images/castle2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}




