/*------------| mobile / tablet |--------------*/
@media screen and (max-width: 800px) {

    .answers-container {

        /*set position*/
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;


        /*set children*/
        display: grid;
    }

    .container-chapter{



        width: 80%;
        height: 200px;




        position: relative;

        transform: translateX(-50%);
        background-color: var(--wood_style_color);
        border: 1px solid var(--border_color);
        border-radius: 10px;

        left: 50%;

        margin-bottom: 20px;

        font-size: 30px;

        color: var(--text_color);




    }


}

/*----------| desktop size*/
@media screen and (min-width: 800px) {

    .answers-container {

        /*set position*/
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;


        /*set children*/
        display: grid;
        grid-template-rows: repeat(2, 2fr);
        grid-template-columns: repeat(2, 2fr);
    }

    .answer-quiz{


        /*set position*/
        margin: 20px;

        /*set size*/
        width: 400px;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 20px;
        color: var(--text_color);


    }



    .container-chapter{


        position: relative;

        width: 90%;
        height:70px;

        background-color: var(--wood_style_color);
        border: 1px solid var(--border_color);
        border-radius: 10px;

        margin-top: 10px;
        transform: translateX(-50%);
        left: 50%;

        font-size: 30px;

        color: var(--text_color);

        text-align: center;


    }

    .container-chapter:hover{
        background-color: var(--wood_style_color-hover);
    }

    .quiz-select-container{
        width: 300px;
        height: 200px;

        background-color: var(--wood_style_color);
        border: 1px solid var(--border_color);
        border-radius: 10px;

        margin: 20px;

        text-align: center;
    }



    .chapter-headline{

        color: var(--text_color);

        margin: 10px;


    }

    .chapter-selection-headline{


        display: inline;



        color: var(--text_color);

        margin: 20px;


    }

}






.container-chapter:hover{
    background-color: var(--wood_style_color-hover);
}

.quiz-select-container{
    width: 300px;
    height: 200px;

    background-color: var(--wood_style_color);
    border: 1px solid var(--border_color);
    border-radius: 10px;

    margin: 20px;

    text-align: center;
}



.chapter-headline{

    color: var(--text_color);




}


.chapter-headline{

    color: var(--text_color);

    margin: 10px;


}

.chapter-selection-headline{

    position: absolute;

    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    margin: 0;

    color: var(--text_color);




}

