@import url(//db.onlinewebfonts.com/c/97c4b25dc74e0ab045154e75a8fdd69d?family=Game+of+Thrones);


    
.title{
    font-family: "Game of Throne";
    font-size: large;
}


/*--------| mobile style |--------*/
@media (max-width: 800px) {

    *{
        margin: 0px;
    }


    .mobile-header-container{

        position: absolute;

        left: 0px;
        right: 0px;
        top: 0px;

        height: 50px;

        text-align: center;

        background-color: var(--wood_style_color);
        border-bottom: solid 1px var(--border_color);



    }

    .mobile-header-title{

        position: relative;
        top: 10px;

        top: 50%;

        transform: translateY(-50%);

        height: 50px;

    }

    /*NAVIGATION BAR*/
    .navbar_container{

        position: absolute;
        right: 0px;
        height: 70px;
        bottom: 0px;
        left:0px;

        border-top:1px solid var(--border_color);

        background:var(--wood_style_color);

        display: inline-flex;
        justify-content: space-around;

        padding-right: 6%;
        list-style-type: none;
        overflow: hidden;
    }

    .navElem_right{

        position: relative;
        top: 25%;


        font-family: "Game of Throne";

    }



    .navElem_left{

        position: relative;
        top: 25%;

        font-family: "Game of Throne";
    }

    .navElem_center{
        display: none;
    }

    .navbar_link_icon{

        text-decoration: none;


    }

    .navbar_link{

       display: none;

    }


    .navbar_link:hover{

        color: var(--text_color_hover);

    }


    /*CHAPTER / QUIZ*/

    .container-chapter-selection{

        /*set position*/
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;

        /*set size*/
        width: 90%;
        height: 60%;

        /*set appearence*/
        background-color: var(--wood_style_color);
        border-radius: 20px;
        border: 2px solid var(--border_color);

        /*set children*/
        display: grid;
        align-content: center;
        padding-top: 80px;
        overflow: auto;

    }


    /*container component*/
    .container-quiz{

        /*set position*/
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 45%;

        /*set size*/
        width: 90%;
        height: 700px;

        /*set appearance*/
        background-color: var(--wood_style_color);
        border-radius: 20px;
        border: 2px solid var(--border_color);

        /*set children*/
        text-align:center;


    }



}

/*-----------| computer display size |------------*/
@media (min-width: 800px) {


    .mobile-header-container{
        display: none;
    }

    /*container component*/
    .container-quiz{

        /*set position*/
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;

        /*set size*/
        width: 75%;
        height: 500px;

        /*set appearance*/
        background-color: var(--wood_style_color);
        border-radius: 20px;
        border: 2px solid var(--border_color);

        /*set children*/
        text-align:center;


    }


    .container-chapter-selection{

        /*set position*/
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;

        /*set size*/
        width: 75%;
        height: 500px;

        /*set appearence*/
        background-color: var(--wood_style_color);
        border-radius: 20px;
        border: 2px solid var(--border_color);

        /*set children*/
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        padding-top: 80px;


        overflow: auto;

    }

    /*container component*/












    .navbar_container{

        margin-top: 20px;
        position: absolute;
        height: 70px;
        left: 10px;
        right: 10px;

        border-radius: 10px;

        border:1px solid var(--border_color);

        background:var(--wood_style_color);

        text-decoration: none;

        display: inline-block;

        child-align: auto;
    }





    .navElem_right{

        position: relative;
        display: flex;
        flex-flow: row;
        float: right;
        flex-flow: row;
        top: 50%;
        transform: translateY(-50%);
        font-size: 15px;
        margin-right: 20px;
        font-family: "Game of Throne";


    }


    .navElem_center{

        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 70px;

    }




    .navElem_left{

        position: relative;
        display: flex;
        flex-flow: row;
        float: left;
        flex-flow: row;
        top: 50%;
        margin-right: 40px;
        transform: translate(-50%,-50%);
        font-size: 15px;




    }




    .navbar_link{
        font-family: "Game of Thrones";
        text-decoration: none;
        color: var(--text_color);
        transition-duration: 500ms;
        cursor: pointer;

    }

    .navbar_link_icon{
        display: none;
    }


    .navbar_link:hover{

        color: var(--text_color_hover);
    }

}


.homeTitle{
    position: absolute;
    font-family: "Game of Thrones";
    color: var(--text_color);
    font-size: 60px;

    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}



.container-title{

    position: relative;
    top: 8%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Game of Thrones";
    margin-bottom: 50px;
    color: var(--text_color);

}

.container-login{

    /*set position*/
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;

    /*set size*/
    width: 400px;
    height: 450px;

    /*set appearence*/
    background-color: var(--primary_color);
    border-radius: 20px;

    /*set children*/
    text-align:center;

}

/*text field component*/

.textField{

    /*set position*/
    position: relative;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    font-size: 20px;

    background-color: var(--input_color);
    color: var(--text_color);
    border-radius: 10px;
    border-color: var(--border_color);
    padding-left: 10px;

}

.textField:focus{

    border-color: var(--border_color);

}

/*button component*/
.button{
    /*set position*/
    position: relative;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: "Game of Thrones";
    background-color: var(--input_color);
    color: var(--text_color);
    border-radius: 10px;
}



.élément{

    width: 200px;

}


/*scroll bar*/

*{
    margin: 0px;
    scrollbar-width: thin;
    scrollbar-color: var(--text_color) var(--wood_style_color);
}