:root{

    /*//////////////| color |///////////////*/

    --primary_color : #485962;
    --secondary_color : #6d96aa;
    --text_color : #c8b959;
    --text_color_hover: #eff0cf;
    --border_color : #c8b959;
    --input_color : #244049;
    --wood_style_color : #2b2521;
    --wood_style_color-hover: #0f0d0b;
    --input_color-active: #1b3037;
    --button-waring : #366371;
    --primary_color-shadow: #323e44;

    /*/////////////////| dimension |////////////*/

    --teacher_nav-width:80px;
}