/*------------| mobile / tablet | -------------*/
@media screen and (max-width: 800px) {

    .answers-container-verif {

        /*set position*/
        position: absolute;
        float: right;


        left: 20px;
        right: 20px;
        bottom: 100px;


        border: solid var(--border_color) 1px;
        background-color: var(--wood_style_color);
        border-radius: 10px;


        height: 200px;

        place-items: center;


        overflow: auto;

    }


    .answer-quiz{


        /*set position*/
        margin: 20px;

        /*set size*/
        width: 90%;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 15px;
        color: var(--text_color);


    }


    .answer-quiz-open{



        /*set position*/
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 25%;
        margin-right: 60px;
        padding-left: 10px;

        /*set size*/
        width: 90%;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 20px;
        color: var(--text_color);

        align-content: center;


    }

    .validate-btn{



        position: absolute;

        bottom: 25px;
        transform: translateX(-50%);
        left: 50%;

        width: 200px;
        height: 60px;

        border: none;
        border-radius: 10px;
        color: var(--text_color);
        font-size: 30px;
        background-color: var(--primary_color);
    }

    .validate-btn:hover{
        background-color: var(--input_color);
    }


    .answer-quiz-qcu{


        /*set position*/
        margin: 20px;

        /*set size*/
        width: 90%;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 15px;
        color: var(--text_color);

        align-content: center;


    }

    .upperText{


        position: absolute;

        transform: translateX(-50%);
        left: 50%;

        font-size: 15px;

        color: var(--text_color);

    }

    .lowerText{
        position: absolute;

        transform: translateX(-50%);
        left: 50%;
        top: 315px;
        font-size: 13px;

        color: var(--text_color);

    }

    .image{

        position: absolute;

        transform: translateX(-50%);
        left: 50%;
        top: 110px;
        height: 200px;
        border-radius: 10px;

    }

    .dismiss-btn{

        position: absolute;
        top: 10px;
        left: 10px;

        width:100px;
        height: 50px;


        background-color: var(--primary_color);
        color: var(--text_color);
        border: none;
        border-radius: 10px;


    }



}

/*------------| desktop size | -------------*/
@media screen and (min-width: 800px) {


    .answers-container-verif {

        /*set position*/
        position: absolute;
        float: right;
        right: 60px;

        border: solid var(--border_color) 1px;
        background-color: var(--wood_style_color);
        border-radius: 10px;
        top: 20px;
        width: 480px;
        height: 350px;

        place-items: center;


        overflow: auto;

    }



    .answer-quiz{


        /*set position*/
        margin: 20px;

        /*set size*/
        width: 400px;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 20px;
        color: var(--text_color);

        align-content: center;


    }

    .answer-quiz:hover{

        width: 430px;
    }



    .answer-quiz-open{



        /*set position*/
        position: absolute;
        float: right;
        transform: translateY(-50%);
        top: 40%;
        margin-right: 60px;
        padding-left: 10px;

        /*set size*/
        width: 400px;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 20px;
        color: var(--text_color);

        align-content: center;


    }


    .validate-btn{



        position: absolute;

        bottom: 25px;
        right: 180px;

        width: 200px;
        height: 60px;

        border: none;
        border-radius: 10px;
        color: var(--text_color);
        font-size: 30px;
        background-color: var(--primary_color);
    }

    .validate-btn:hover{
        background-color: var(--input_color);
    }


    .answer-quiz-qcu{


        /*set position*/
        margin: 20px;

        /*set size*/
        width: 400px;
        height: 60px;

        /*set style*/
        border: 1px solid var(--border_color);
        border-radius: 10px;
        background-color: var(--wood_style_color);

        /*set font*/
        font-size: 20px;
        color: var(--text_color);

        align-content: center;


    }

    .upperText{

        font-size: 20px;
        margin: 20px;

        color: var(--text_color);

    }

    .lowerText{

        font-size: 16px;
        margin: 20px;
        color: var(--text_color);

    }

    .image{

        width: 300px;
        border-radius: 10px;

    }

    .dismiss-btn{

        position: absolute;
        top: 10px;
        left: 10px;

        width:100px;
        height: 50px;

        background-color: var(--primary_color);
        color: var(--text_color);
        border: none;
        border-radius: 10px;

    }




}





.check-box{

    position: relative;
    margin-left: 20px;
    transform: translateY(-50%);
    top: 50%;
    float: left;
    pointer-events: none;

}

.check-box-text{

    position: relative;
    transform: translateY(-50%);
    top: 50%;
    float: right;
    margin-right: 20px;
    pointer-events: none;

}





.quiz-select-container{
    width: 300px;
    height: 200px;

    background-color: var(--wood_style_color);
    border: 1px solid var(--border_color);
    border-radius: 10px;

    margin: 20px;

    text-align: center;
}


.question-container{

    float: left;
    margin-left: 100px;
    margin-top: 70px;

}


.error-text{

    position: absolute;
    color: var(--text_color);

    font-size: 40px;

    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;

}

.compt-text{

    position: absolute;
    color: var(--text_color);

    font-size: 30px;

    transform: translateX(-50%);

    top: 20px;
    left: 50%;


}

.finish-title{


    position: absolute;

    transform: translate(50%,-50%);
    top: 30%;
    right: 50%;


    font-size: 60px;
    font-family: "Game of Thrones";
    color: var(--text_color);

}

.score-title{

    position: absolute;

    transform: translate(50%,-50%);
    top: 60%;
    right: 50%;


    font-size: 30px;

    color: var(--text_color);

}


.mpGain-title{
    position: absolute;

    transform: translate(50%,-50%);
    top: 70%;
    right: 50%;


    font-size: 30px;

    color: var(--text_color);
}

.back-btn{



    position: absolute;

    transform: translate(-50%,50%);

    bottom: 50px;

    width: 300px;
    height: 60px;

    border: none;
    border-radius: 10px;
    color: var(--text_color);
    font-size: 30px;
    background-color: var(--primary_color);
}

.back-btn:hover{
    background-color: var(--input_color);
}

.group-radio{

    border: none;


}
